<div class="row">
  <div class="hidden-xs col-md-2">&nbsp;</div>
  <div class="col-xs-12 col-md-8">
    <h3>Notes:</h3>
    <% if current_user %>
      <%= render partial: "comments/form" %>
    <% else %>
      <p>Log in to write a note</p>
    <% end %>

    <div class="comments-list" id="infinite-scrolling">
      <%= render partial: "comments/list", locals: {comments: comments}%>
    </div>

    <div class="foot">
      <%= will_paginate comments %>
    </div>
  </div>
  <div class="hidden-xs col-md-2">&nbsp;</div>
</div>
