<% if comment.author == current_user then %>
  <span>
    <input
      type="button"
      data-id="<%= comment.id %>"
      data-url="<%= delete_comment_path %>"
      name="<%= comment.id %>"
      value="Delete"
      class="delete-btn btn btn-default"
    >
    <br class="visible-xs">
  </span>
<% end %>
