  <form class="comment-form">
  <textarea
    name="commentText"
    class="form-control"
    rows="3"
    placeholder="Leave a note..."
  ></textarea>
  <button type="submit" class="submit-btn btn btn-primary">Submit</button>
  </form>
