
<% if comments.count > 0 %>
  <% comments.order(created_at: :desc).each do |c| %>
    <%= render partial: "comments/comment", locals: {comment: c}%>
  <% end %>
<% else %>
  <p class="no-notes-message text-center">Be the first to leave a note!</p>
<% end %>
