<h2>Welcome to LOLHS</h2>
<div>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:summoner_name, "Enter Summoner Name:") %>
  <%= text_field_tag(:summoner_name) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
