
<div class="row">
  <div class="col-xs-12">
    <div class="greeting">
      <%= image_tag("crest.png", class: "crest") %>
      <p class="text-center">Search your favorite summoners.<br>Discuss their signature champions.</p>
    </div>
  </div>
</div>

<script>
$(function(){
  $("body").addClass("welcome-bg");
})
</script>
