
<div class="row">
  <div class="col-xs-12">
    <div class="greeting">
      <h1>Welcome to LOLHS</h1>
    </div>
  </div>
</div>

<script>
$(function(){
  $("body").addClass("welcome-bg");
})
</script>
