<div class="row">

<%= render partial: "grade_group", locals:{grade_level: "Seniors", region: region, champions: champions.where(mastery_level: 5)} %>

<%= render partial: "grade_group", locals:{grade_level: "Juniors", region: region, champions: champions.where(mastery_level: 4)} %>

<%= render partial: "grade_group", locals:{grade_level: "Sophomores", region: region, champions: champions.where(mastery_level: 3)} %>

<%= render partial: "grade_group", locals:{grade_level: "Freshmen", region: region, champions: champions.where(mastery_level: 2)} %>

</div>
