<div class="level-selectors">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" data-grade="2" data-url="<%= champions_path %>">Freshmen</button>
    <button type="button" class="btn btn-default" data-grade="3" data-url="<%= champions_path %>">Sophomores</button>
    <button type="button" class="btn btn-default" data-grade="4" data-url="<%= champions_path %>">Juniors</button>
    <button type="button" class="btn btn-default" data-grade="5" data-url="<%= champions_path %>">Seniors</button>
  </div>
</div>
