<div class="level-selectors">

  <div class="btn-group hidden-xs" role="group">
    <label>
      <input type="checkbox" value="2" class="_2">
      <span class="sm-checkfilter">Level 2</span>
    </label>
    <label>
      <input type="checkbox" value="3" class="_3">
      <span class="sm-checkfilter">Level 3</span>
    </label>
    <label>
      <input type="checkbox" value="4" class="_4">
      <span class="sm-checkfilter">Level 4</span>
    </label>
    <label>
      <input type="checkbox" value="5" class="_5">
      <span class="sm-checkfilter">Level 5</span>
    </label>
  </div>

  <div class="button-group visible-xs">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Filter By Mastery</button>
    <ul class="dropdown-menu">
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="5" class="_5">
          <span>Level 5</span>
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="4" class="_4">
          <span>Level 4</span>
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="3" class="_3">
          <span>Level 3</span>
        </label>
      </li>
      <li>
        <label class="checkbox-inline">
          <input type="checkbox" value="2" class="_2">
          <span>Level 2</span>
        </label>
      </li>
    </ul>
  </div>

</div>
