<div class="col-xs-12" id="<%= id %>">
  <h4 class="grade-label"><%= title %></h4>
  <% champs = champions.order(mastery_points: :desc) %>
  <% if champs.empty? %>
    <p class="text-center">none to display</p>
  <% else %>
    <% champs.each do |champ| %>
      <%= render partial: "champion_thumb", locals:{champion: champ, url: champion_path(region, champ.summoner_id, champ.champion_id)} %>
    <% end %>
  <% end %>
</div>
