/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "books";
 @import "champions";

@media (max-width: 767px) {
  .navbar-form{
    margin-top:0;
  }
}
.navbar{
  margin-bottom: 0;
  box-shadow: 0 5px 10px gray;
}
.navbar-text {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.twitter-pic{
 border-radius: 50%;
}
.alert{
  margin-bottom:0;
  margin-top:20px;
}

//Comments partials
button.submit-btn{
  width: 100%;
  display: block;
  margin: 6px auto;
}

.comments-list{
  .comment{
    padding: 10px 10px;
    border-top: 1px solid gray;
    p{
      margin-bottom:0;
    }
    .signature {
      text-align: right;
      span{
        padding-left:6px;
        form{
          display: inline;
        }
      }
    }
    .time{
      color: gray;
    }
  }
}

@media (max-width: 991px) {
  button.submit-btn{
    margin-top:0;
  }
}

@media (max-width: 767px) {
  .comment .signature span.visible-xs{
    display: inline !important;
  }
}
