// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3.title{
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 12px;
}
button.update{
  vertical-align:super;
}
.glyphicon.spinning {
  padding: 0 12px;
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.thumb{
  padding: 8px 0;
  img{
    display: block;
    margin:auto;
  }
  .info{
    h4{
      text-align: center;
      margin-top: 6px;
      margin-bottom: 0;
    }
    p{
      text-align: center;
    }
  }
}
