
header{
  text-align: center;
}
h3.title{
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 12px;
  margin-top: 18px;
}
button.update{
  margin-bottom: 8px;

}
.glyphicon.spinning {
  padding: 0 12px;
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
.big{
  font-size: 3em;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.level-selectors{
  text-align: center;
  .hidden-xs input{
    background-color: rgba(255, 255, 255, 0.5);
    &:focus{
      outline: none;
    }
    &.active:focus, :active:focus, :active:hover{
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  .dropdown-toggle{
    width:100%;
  }
  .dropdown-menu {
    width:100%;
    input{
      border: none;
      border-radius: 0;
      width: 100%;
      &:hover{
        border: none;
        border-radius: 0;
      }
    }
  }
}

.grade-label{
  text-align: center;
}

.thumb{
  padding: 8px 0;
  img{
    display: block;
    margin:auto;
  }
  .info{
    h4{
      text-align: center;
      margin-top: 6px;
      margin-bottom: 0;
    }
    p{
      text-align: center;
    }
    .glyphicon-star {
      color: gold;
      font-size: 14px;
    }
  }
}

.foot{
  text-align: center;
}

@media (max-width: 767px) {
  button.update{
    width: 100%;
    font-size: 14px;
  }
}
