
h3{
  margin-top: 14px;
  margin-bottom: 10px;
  text-align: center;
}
.title{
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

img.portrait {
  width: 100%;
  margin-bottom: 10px;
}
.info{
  font-size: 1.25em;
  .school-level{
    font-weight: bold;
    border-bottom: 2px solid black;
    span{
      font-weight: normal;
    }
  }
  .honors{
    color: gold;
  }
}

.asterisk{
  text-align: center;
}
