
button.submit-btn{
  width: 100%;
  display: block;
  margin: 6px auto;
}

.comments-list{
  .comment{
    padding: 10px 10px;
    border-top: 1px solid gray;
    .text{
      margin-top: 10px;
      margin-bottom:0;
    }
    .signature-block {
      text-align: right;
      input.delete-btn{
        border:none;
        background-color:inherit;
        padding: 0;
        color: #a66363;
        &:hover{
          color: #b10000;
        }
        &:active{
          box-shadow: none;
          outline: none;
        }
        &:focus{
          outline: none;
        }
      }
      .time{
        color: gray;
        padding-right: 6px;
      }
      .score{
        color: gray;
        padding-right: 6px;
      }
      .vote-btn{
        padding: 6px;
        display: inline;
        color: gray;
      }
      .up{
        margin-left:3px;
        &:hover {
          color:#2c3894;
        }
        &.active {
          color:#2c3894;
        }
      }
      .down{
        margin-right:3px;
        &:hover {
          color:#942c2c;
        }
        &.active {
          color:#942c2c;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  button.submit-btn{
    margin-top:0;
  }
}

@media (max-width: 767px) {
  .comments-list .comment {
    .text{
      margin-top: 0;
    }
    .signature-block span.visible-xs{
      display: inline !important;
    }
  }
}
