.welcome-bg{
  background: url("book.JPG");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}
.greeting{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
  h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  p{
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 1px black;
  }
  .crest{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

@media (max-width: 767px) {
  .greeting {
    .crest{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:75%;
    }
  }
}
