.welcome-bg{
  background: url("book.JPG");
  background-size: cover;
}
.greeting{
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
  h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
  }
}
